<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="testmode.eebbk.com.testmodedemo">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".TestModeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".log.LogActivity" />

        <service android:name=".excel.ExcelIntentService" />

        <receiver android:name=".TestBroadCastReceiver">
            <intent-filter>
                <action android:name="com.eebbk.askhomework.testmode.action" />
            </intent-filter>
            <meta-data
                android:name="test_app_name"
                android:value="问作业" />
        </receiver>
    </application>

</manifest>